body {
  background-color: whitesmoke;
}
header {
  background:black;
}

h1 {
  color: whitesmoke;
  text-align: center;
}
p1  {
  font-weight: em;
  color: red;
  font-size: 20px;;
}
#styledImage {
  width: 200px;
  height: 200px;
  border: 5px solid black;
}